.App {
  text-align: center;
  background-color: rgb(255, 255, 242);
}

.allProfessionals{
  border: 1px solid salmon;
  height: 20vh;
  color: #ffffff;
  text-align: center;
  background-color: rgb(159, 100, 94);
}
