/* .App {
  text-align: center;
  background-color: rgb(195, 220, 255);
}

.allProfessionals{
  border: 1px solid salmon;
  height: 20vh;
  color: #ffffff;
  text-align: center;
  background-color: rgb(159, 100, 94);
} */
