.main {
  display: flex;
}

h2 {
  margin-left: 2vw;
  padding-top: 4vh;
  color: white;
  margin-top: 5vh;
  /* font-size: 2.3vw; */
}

.sidebar {
  width: 23vw;
  height: 95vh;
  margin-left: 1vw;
  margin-top: 2vh;
  background-color: #1B6392;
  border-radius: 0.5vw;
}

h3 {
  list-style: none;
  margin-top: -0.5vh;
  margin-left: 2vw;
  color: white;
  text-decoration: none;
}

h3:hover {
  cursor: pointer;
  background-color: #0c2a3e;
  transition: background-color 0.3s;
  border-radius: 0.3vw;
  text-align: center;
  width: 11vw;
  height: 5vh;
}

a {
  color: white;
}

.book:hover {
  width: 13vw;
  cursor: pointer;
}

.list {
  margin-top: 15vh;
}

.top-bar {
  width: 73vw;
  height: 15vh;
  margin-left: 1vw;
  margin-top: 3vh;
  border-radius: 0.5vw;
  background-color: #1B6392;
  display: flex;
}

.main-bar {
  width: 82vw;
  height: 97vh;
  margin-left: 0.5vw;
}

.activity {
  width: 30vw;
  height: 30vh;
  background-color: #1B6392;
  border-radius: 0.5vw;
}

.view {
  margin-top: 10vh;
}

.image {
  width: 3vw;
  height: 6vh;
  border-radius: 50%;
  margin-top: 3vh;
}

.img {
  display: flex;
  margin-left: 25vw;
  margin-top: 2vh;
}

h4 {
  margin-left: 1vw;
  color: white;
}

.bar {
  display: flex;
}

.input {
  width: 20vw;
  height: 6vh;
  border-radius: 0.5vw;
  border: none;
  outline: none;
  margin-top: 4vh;
  margin-left: 5vw;
  padding-left: 2vw;
  font-size: 1.5vw;
}

.search {
  width: 10vw;
  height: 3.5vh;
  margin-top: 5.5vh;
  margin-left: -7vw;
}

.icon {
  margin-right: 10px;
}

.boox {
  display: flex;
}

.box {
  width: 20vw;
  height: 28vh;
  background-color: #1B6392;
  margin-top: 8vh;
  margin-left: 4vw;
  color: white;
  font-size: 3vw;
  border-radius: 1vw;
  text-align: center;
}

.prof {
  font-size: 2vw;
  margin-top: 5vh;
}

.text {
  line-height: 1vh;
  margin-bottom: -30px;
  margin-top: 10vh;
}

.con {
  width: 73vw;
  height: 15vh;
  margin-left: 1vw;
  margin-top: 3vh;
  border-radius: 0.5vw;
  background-color: #1B6392;
  display: flex;
}

.btn {
  height: 7vh;
  width: 10vw;
  border: none;
  outline: none;
  margin-left: 43vw;
  margin-top: 4vh;
  font-size: 1.5vw;
  border-radius: 1vw;
  background-color: yellowgreen;
  color: white;
}

.btn-one {
  height: 7vh;
  width: 10vw;
  border: none;
  outline: none;
  margin-left: 32vw;
  margin-top: 4vh;
  font-size: 1.5vw;
  border-radius: 1vw;
  background-color: rgb(205, 205, 92);
  color: rgb(179, 139, 139);
}

.btn:hover {
  cursor: pointer;
  background-color: #26485f;
  transition: background-color 0.3s;
  font-size: 1.5vw;
  border-radius: 1vw;
  text-align: center;
  width: 11vw;
  height: 7vh;
  cursor: pointer;
  color: white;
  margin-left: 43vw;
}

.btn-one:hover {
  cursor: pointer;
  background-color: #545f26;
  transition: background-color 0.3s;
  font-size: 1.5vw;
  border-radius: 1vw;
  text-align: center;
  width: 11vw;
  height: 7vh;
  cursor: pointer;
  color: white;
  margin-left: 32vw;
}

h5 {
  color: white;
  font-size: 1.9vw;
  margin-top: 2vw;
  margin-left: 1.5vw;
}

.mail {
  font-size: 1.6vw;

}

.vertical-line {
  position: relative;
  display: inline-block;
}

.vertical-line::before {
  content: "";
  position: absolute;
  margin-left: 10px;
  height: 5vh;
  width: 1px; 
  margin-top: 4.5vh;
  background-color: white; 
}

.profile {
  height: 75vh;
  width: 70vw;
  margin-top: 3vh;
  display: flex;
  margin-left: 2.5vw;
}

.picture-bar {
  width: 20vw;
  height: 65vh;
  background-color: white;
  box-shadow: 2px 2px 4px 0px rgba(112, 112, 112, 0.5);
}

.edit-bar {
  width: 60vw;
  height: 73vh;
  background-color: white;
  margin-left: 2vw;
  box-shadow: 2px 2px 4px 0px rgba(112, 112, 112, 0.5);
}

.name {
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
}

.email {
  font-size: 1vw;
  text-align: center;
  margin-top: -2.5vh;
}

.profile-picture {
  width: 8vw;
  height: 16vh;
  border-radius: 50%;
  margin-top: 3vh;
  margin-left: 4vw;
}

.photo {
  height: 6vh;
  width: 9vw;
  border: none;
  outline: none;
  margin-left: 3.5vw;
  margin-top: 1vh;
  font-size: 1vw;
  border-radius: 0.5vw;
  background-color: #1B6392;
  color: white;
}

.photo:hover {
  background-color: #4e7996;
  transition: background-color 0.3s;
  border-radius: 1vw;
  text-align: center;
  width: 10vw;
  height: 7vh;
  cursor: pointer;
  color: white;
}

.upload {
  background-color: #487b9d;
  font-size: 1vw;
  width: 13vw;
  height: 15vh;
  margin: auto;
  color: white;
  text-align: center;
  border-radius: 0.5vw;
  margin-top: 5vh;
  padding-top: 3vh;
}

.date {
  font-style: italic;
  font-size: 1vw;
  text-align: center;
}

.file {
  width: 52vw;
  /* background-color: #d6e3ec; */
  height: 11vh;
}

.dit {
  font-size: 2vw;
  margin-left: 2vw;
  font-weight: bold;
  margin-top: -0.2vh;
  text-align: center;
  padding-top: 4vh;
}

.input-bar {
  display: flex;
}

.first-input {
  width: 25vw;
  height: 65vh;
  margin-left: 5vw;
}

.details {
  width: 19vw;
  height: 7vh;
  padding-left: 1vw;
  border: none;
  outline: none;
  background-color: #d6e3ec;
  border-radius: 0.5vw;
}

.label {
  font-size: 1.3vw;
}

.info {
  border: none;
  outline: none;
  width: 10vw;
  height: 7vh;
  color: white;
  border-radius: 0.5vw;
  background-color: #1B6392;
}

.info:hover {
  background-color: #4e7996;
  transition: background-color 0.3s;
  border-radius: 1vw;
  text-align: center;
  width: 10vw;
  height: 7vh;
  cursor: pointer;
  color: white;
}
.booking{
  width: 70vw;
  height: 75vh;
  background-color: white;
  margin-left: 5vw;
  display: flex;
  margin-top: 4vh;
  flex-wrap: wrap;
}
.card{
  width: 20vw;
  height: 36.5vh;
  margin-left: 1vw;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 4px 0px rgba(112, 112, 112, 0.5);
}
.card-image{
  width: 8vw;
  height: 16vh;
  /* margin-left: 2vw; */
  border-radius: 50%;
  margin-top: 1.5vh;
}
.card p{
  line-height: 0.5vh;
  font-size: 1vw;
  font-weight: bold;
}
.card button{
  border: none;
  outline: none;
  width: 10vw;
  height: 5vh;
  color: white;
  margin-top: 1vh;
  border-radius: 0.5vw;
  background-color: #1B6392;
}

.card button:hover{
  background-color: #4e7996;
  transition: background-color 0.3s;
  border-radius: 1vw;
  text-align: center;
  width: 10vw;
  height: 5vh;
  cursor: pointer;
  color: white;
}
.set{
  width: 70vw;
  height: 78vh;
  margin-left: 3vw;
  margin-top: 2vh;
}
.sett{
  width: 70vw;
  height: 8.5vh;
  background-color: white;
  box-shadow: 2px 2px 4px 0px rgba(179, 175, 175, 0.5);
}

.sett:hover{
  background-color:#f7f7ff ;
  transition: background-color 0.3s;
  cursor: pointer;
}
.sett p{
  font-size: 1.3vw;
  font-weight: bold;
  margin-left: 1vw;
  padding-top: 2vh;
}
.comment{
  margin-top: 3vh;
  margin-left: 3vw;
  padding-left: 2vw;
  padding-top: 2vh;
  border: 2px solid #1B6392;
  outline: none;
  font-size: 1.5vw;
  border-radius: 0.5vw;
}
.submit{
  border: none;
  outline: none;
  width: 10vw;
  height: 7vh;
  color: white;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  background-color: #1B6392;
}
.submit:hover{
  background-color: #4e7996;
  transition: background-color 0.3s;
  border-radius: 1vw;
  text-align: center;
  font-size: 1.5vw;
  width: 10vw;
  height: 7vh;
  cursor: pointer;
  color: white;
}