  .profile{
    width: 60vw;
    height: 85vh;
    margin: auto;
    margin-top: 60px;
    display: flex;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(251, 208, 208) , rgb(188, 188, 229));
  }
  .sidecontainer{
    width: 20vw;
    height: 85vh; 
    border-radius:20px 0px 0px 20px;
    background-image: linear-gradient(to right, rgb(251, 208, 208) , rgb(227, 227, 247));
  }
  .maincontainer{
    width: 40vw;
    height: 85vh;
    margin-left: 10px;
    border-radius:0px 20px 20px 0px;
  } 
  .imagecontainer{
    width: 32vw;
    height: 20vh;
    margin-top: 5vh;
  }
  .image{
    width: 10vw;
    height: 20vh;
    margin-left: 50px;
    border-radius: 100px;
  }
  .name{
    opacity: 0.5;
  }
  .text{
    margin-left: 30px;
    line-height: 10px;
    margin-top: 30px;
  }
  .text-one{
    margin-left: 30px;
    line-height: 10px;
    margin-top: 50px;
  }
  .text-two{
    margin-left: 30px;
    line-height: 10px;
    margin-top: 50px;
  }
  .sidetext{
    width: 38vw;
    height: 35vh;
    border-radius: 10px;
  }
  .lorem{
    opacity: 0.7;
    line-height: 18px;
    margin-top: -15px;
  }
  .goal{
    margin-top: -15px;
  }

  .construction-Page{
    color: black;
  }
  