.App-three {
  height: 100vh;
  color: #000000;
  background-color: #ffffff;
  margin-top: 10vh;
}

.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-slider {
  height: 80vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin-bottom: 10vh;
}

.blog-slide {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slider-cont {
  display: flex;
  width: 70vw;
  background-color: #fffff;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border: 1px solid green;
  margin-top: 50px;
}


