.section-white {
  background: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: space-between;
}

.main-two {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;

}
.team-item {
  background: #fff;
  text-align: center;
  margin-top: 10rem;
  margin-right: 75rem;
}
.section-title {
  text-align: center;
  align-items: center;
}
.section-subtitle {
  text-align: center;
  align-items: center;
}
.team-item2 {
  background: #fff;
  text-align: center;
  margin-top: 10rem;
  margin-left: -75rem;
}
.team-item3 {
  background: #fff;
  align-items: center;
  background: #fff;
  text-align: center;
  margin-top: 10rem;
}
.team-item4 {
  background: #fff;
  align-items: center;
  background: #fff;
  text-align: center;
  margin-top: 10rem;
}
