.beforetoprated{
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
}
.why{
    margin-top: 2px;
    padding-left: 15px;
    color: #5eafe5;
    font-weight: 700;
}
.writeup{
    font-weight: 900;
    text-align: start;
}
.topratedcard {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: black;
  }
  .topratedcard:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }