#footer{
    max-width: 1300px;
    margin: 10px auto;
    border:1px solid ;
    display: flex;
    justify-content: space-between;
    background-color:rgb(62, 60, 60);
    color: white;
    padding: 0px 120px;
}
#top{
    background-color:rgb(62, 60, 60) ;
    line-height:2rem;
    color: #4682a9;
    font-size: 20px;
}
 a{
    text-decoration:none ;
    color:white ;
}

a:hover{
    color: rgb(190, 190, 127);
    font-size:17px ;
}
.foot{
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}