.caro{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 7rem;
    margin-right: -10rem;
    padding-left: 31rem;
} 

.x{
    height: 580px;
}  

.caro .title{
    width:570px ;
    font-size: 3.3rem;
    color: #4682a9;
    font-weight:900;
}

.caro .title .meet{
    color: black;
}
.caro .para{
    font-size:30px ;
    text-align: left;
    font-weight: 700;
}
.caro #para{
    font-size: 30px;
    text-align: left;
    font-weight: 700;
}
.btnsee{
    width: 200px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #4682a9;
    position: relative;
    color: #ffffff;
    bottom:9rem ;
    left: 9.6rem;
}
.btnsee:hover{
    background-color: #2b5068;
    color: #ffffff;
}
.section-one {
    width: 100vw;
}