.caro{
    margin-bottom: 10rem;
    margin-right: -10rem;
    padding-left: 31rem;
} 
.caro .title{
    width:570px ;
    font-size: 3.3rem;
    color: green;
    font-weight:900;
}
.caro .para{
    font-size:30px ;
    text-align: left;
    font-weight: 700;
}
.caro #para{
    font-size: 30px;
    text-align: left;
    font-weight: 700;
}

.x{
    height: 580px;
    opacity: -1;
}