#footer{
    max-width: 1300px;
    margin-top: 100px;
    border:1px solid ;
    display: flex;
    justify-content: space-between;
    background-color:rgb(62, 60, 60);
    color: white;
    padding: 80px 120px;
}

.top{
    line-height:2rem;
    color: #5eafe5;
}

a{
    text-decoration:none ;
    color:white ;
}

.foot{
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}